@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@500&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@500&family=Poppins&family=Rubik&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: white ;
}

html{
    scroll-behavior: smooth;
}

#nav-bar{
    background-color:whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 80px;
}

#nav-bar a{
    text-decoration: none;
    color: #3E366C;
    font-weight: 500px;
    font-size: 18px;
    font-family: 'Noto Naskh Arabic';
}

#content-nav a {
    color:#3E366C;
    margin-left: 130px;
    font-size: 18px;
    text-decoration: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    z-index:1;
}

#content-nav a:hover{
    border-bottom: 3px solid #47BFAF ;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    transition: all .1s;
    z-index:1;
    padding-bottom: 3px;    
}
#content-nav a:hover::after{
    transition: 0.5s;
}
#logo1{
    height: 9vh; 

}
#login-button{
    border:1.5px solid #4e4773  ;
    background-color: transparent ;
    padding:8px;
    width: 140px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    color: #3E366C;
    font-size: 15px;
    word-spacing: 2px;
    font-family: 'Noto Naskh Arabic';
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: 0.4s;
}

#login-button:hover{
    background-color: #4e4773;
    color: white;
    transition: 0.4s;
}

#lang-button{
    margin-left: 145px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 40px;
    transition: 0.3s;
 }
 #lang-button:hover{
     border: 1px solid #C0C0C0;
     background-color: #C0C0C0;
     padding-top: 5px;
     padding-bottom: 3px;
     padding-left: 15px;
     padding-right: 15px;
     border-radius: 40px;
     transition: 0.3s;
 }

 #lang-button img{
    height: 4vh; 
    align-items: center;
}

#front-back-color{
    width: 100%;
    background-color: auto;
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 85vh;
}

#front-back-color img{
    
    height:350px;
    border-radius: 15px;
    margin-right: 100px;
}


#main{
    width: 900px;
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around ;
}

#main img{
    width: 60px;
    height: 60px;
}

#hero-box #hero-heading{
    color: #47BFAF;
    font-size: 60px ;
    text-transform: capitalize;
    margin-bottom: 45px;
    word-spacing: 5px;
    font-family: 'Noto Naskh Arabic';
}

#hero-box #hero-desc{
    
    word-spacing: 1px;
    color:#3E366C;
    line-height:38px;
    font-size: 23px;
    margin-bottom: 50px;
    font-family: 'Noto Naskh Arabic';
    font-weight: bold;
}


#button1{
    background: #3A5F8F;
    color:white;
    text-decoration: none;
    border: 5px solid transparent;
    font-weight: bold;
    padding: 10px 35px;
    border-radius: 30px;
    font-size: 20px;
    transition: 0.5s;
    margin-bottom: 20px;
    margin-left: 590px;
}

#button1:hover{
    background-color: #4e4773;
    transition: 0.5s;
}