  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@300&display=swap');

  * {
      margin: 0;
      padding: 0;
      scroll-behavior: smooth;
      font-family: 'Noto Sans Arabic', sans-serif;
      box-sizing: border-box;

  }


  main {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 560px;
  }

  html {
      margin: 0px;
      padding: 0px;
      scroll-behavior: smooth;
  }

  body {
      background-color: white;
      margin: 0px;
      padding: 0px;
  }

  nav {
      background-color: #E0E1DD;
      max-width: 100%;
      min-height: 55px;
      box-shadow: 1px 1px 40px 0px rgba(0, 0, 0, 1);
      -webkit-box-shadow: 1px 1px 40px 0px rgba(0, 0, 0, 1);
      -moz-box-shadow: 1px 1px 40px 0px rgba(0, 0, 0, 1);
  }

  nav img {
      position: relative;
      max-width: 13%;
      margin: auto;
      display: flex;
      justify-content: center;
  }

section #im1 {
    position: absolute;
    height: 400px;
     width: 430px;
     margin-left: 16vh;
     margin-top: 10vh;
    opacity: 0.8;
}

#Login h2 {
    position: absolute;
    text-align: center;
    right: 78px;
    top: 5%;
    word-spacing: 1px;
    font-size: 2.5em;
    color: #47BFAF;
}
 #Login {
    position: absolute;
    margin: auto;
    left: 60%;
    top: 30%;
    border-style:solid ;
    background-color: white;
    border: none;
    border-radius: 10px;
    width: 400px;
    min-height: 400px;
    box-shadow: #3E366C 0px 0px 0px 1px;
}

#Login input[type="text"] {
    width: 50%;
    border: none;
    border-bottom: 2px solid #3E366C;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
    color: #3E366C;
    font-size: 1.2em;
    position: absolute;
    top: 110px;
    left: 105px;

}

#Login .label {
    position: absolute;
    top:108px;
    left: 16%;
    width: 200px;
    color: #3E366C;
    transition: all 0.3s ease;
    pointer-events: none;
    font-size: 1.3em;
}

#Login input[type="text"]:focus~.label,
#Login input[type="text"]:valid~.label {
    top: 98px;
    left: 45px;
    font-size: 1em;
    color: #3E366C;
}

#Login .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #3E366C;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

#Login input[type="text"]:focus~.underline,
#Login input[type="text"]:valid~.underline {
    transform: scaleX(1);
}

#Login input[type="password"] {
    width: 50%;
    border: none;
    border-bottom: 2px solid #3E366C;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
    color: #3E366C;
    font-size: 1.2em;
    position: absolute;
    top: 200px;
    left: 105px;

}

#Login .label2 {
    position: absolute;
    top: 200px;
    left: 40%;
    color: #3E366C;
    transition: all 0.3s ease;
    pointer-events: none;
    font-size: 1.3em;
}

#Login input[type="password"]:focus~.label2,
#Login input[type="password"]:valid~.label2 {
    top: 190px;
    left: 180px;
    font-size: 1em;
    color: #3E366C;
}

#Login .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #47BFAF;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

#Login input[type="password"]:focus~.underline,
#Login input[type="password"]:valid~.underline {
    transform: scaleX(1);
}

#Login #sub {
    position: absolute;
    margin: 290px auto;
    right: 135px;
    --font-color: #3E366C;
    --bg-color: #E0E1DD;
    --main-color: #47BFAF;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
}

#sub:active {
    box-shadow: 100px 100px var(--main-color);
    transform: translate(3px, 3px);
}
.signup {
    color: #47BFAF;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    margin-bottom: vh;
    margin-right: 43%;
}
p{
    font-weight: bolder;
    margin-top: 55vh;
    width: 32%;
    margin-right: 10%;
}
